.about{
    transform: translateY(8%);
    

    &__container{
        max-width: 69.375rem;
        margin: 0 auto;
    
        &--pall{
            padding-top: 1.375rem;
            padding-right: 1.5rem;
            padding-bottom: 4.375rem;
            padding-left: 1.5rem;
    
            @include breakpoint-up(large){
                padding-top: 1rem;
                padding-bottom: 6rem;
            }
            @include breakpoint-down(medium){
                transform: translateY(3%);
            }
            
            
        }
    }

    h2{
        color: $primary;
        margin-left: 1.85rem;
        font-size: 2.23rem;
        font-weight: 550;
        
    }
    &__bio{
        color: $primary;
        margin-bottom: 2.4rem;
        margin-left: 1.85rem;

        @include breakpoint-down (medium){
            margin-right: 0.85rem;
            
        }
    }

    &__grid{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.875rem;


        @include breakpoint-up(medium){
            grid-template-columns: repeat(2,1fr);
        }

        @include breakpoint-up(large){
            grid-template-columns: repeat(3,1fr);
        }
    }


    &__item{
        padding: 1.875rem 1.875rem 2.5rem 1.875rem;
        display: flex;
        flex-wrap: wrap;
        box-shadow: 2px 2px 2px hsla(17, 83%, 54%,0.35);
        background: $secondary;
        position: relative;

        @include breakpoint-up(medium){
            padding: 1.875rem 1.5625rem;
        }

        &:hover{
            transform: scale(1.05);
        }

        &::after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: radial-gradient(at 194% -8%, hsla(11, 78%, 47%, 0.678) 1%, hsla(40, 4%, 14%, 0.1), hsla(40, 4%, 14%, 0.027));
            z-index: 1;
        }

    }
    &__image{
        
        height: 3.5rem;
        width: 3.5rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
    }

    &__name{
        padding-left: 0.825rem;
        padding-top: 1.25rem;
    }
    &__description{
        padding: 1rem 0.8rem;
        width: 100%;
    }
}

// .about{
//     &_header{
//     top: 0;
//     height: 7rem;
//     background-color: $secondary;
//     }
//     &_body{
//         background: $primary;
//     }
// }