.about{
    transform: translateY(8%);
    &_body{
        min-height: 150vh;
    }
    &_main{
        position: relative;
        top: 0;
    }
    &_header{
        // border: 2px solid white;
        position: sticky;
        top: 0;
        background: linear-gradient(to right ,$secondary 80%,rgba(29, 13, 2, 0.916));
        height: 7rem;
        width: 100vw;
        
    }
    &__container{
        max-width: 69.375rem;
        margin: 0 auto;
    
        &--pall{
            padding-top: 1.375rem;
            padding-right: 1.5rem;
            padding-bottom: 4.375rem;
            padding-left: 1.5rem;
    
            @include breakpoint-up(large){
                padding-top: 1rem;
                padding-bottom: 6rem;
            }
            @include breakpoint-down(medium){
                transform: translateY(3%);
            }
            
            
        }
    }
    h1 {
        color: lighten($color: $primary, $amount: 15%);
        margin-left: 1.85rem;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 3.5rem;
        font-weight: 700;
        
    }
    h2{
        @extend h1 ;
        font-weight: 550;
        font-size: 2.23rem;

        
    }
    &__bio{
        color: $primary;
        font-size: 1.3rem;
        margin-bottom: 5rem;
        margin-left: 1.85rem;

        @include breakpoint-down (medium){
            margin-right: 0.85rem;
            
        }
    }

    &__grid{
        padding-top: 1rem;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1.875rem;

        @include breakpoint-up(small){
            grid-template-columns: repeat(3,1fr);
        }
    }


    &__item{
        height: 12rem;
        padding: 1.875rem 1.875rem 2.5rem 1.875rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 2px 2px 2px hsla(17, 83%, 54%,0.35);
        background: $secondary;
        position: relative;

        @include breakpoint-up(medium){
            padding: 1.875rem 1.5625rem;
        }

        &:hover{
            transform: scale(1.05);
        }

        &::after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: radial-gradient(at 194% -8%, hsla(11, 78%, 47%, 0.678) 1%, hsla(40, 4%, 14%, 0.1), hsla(40, 4%, 14%, 0.027));
            z-index: 1;
        }

    }
    &__image{
        
        height: 5rem;
        width: 5rem;
        background-size: contain;
        background-repeat: no-repeat;
        
    }

    &__name{
        font-size: 1.4rem;
        color: lighten($primary , 20%);
        padding-top: 1.55rem;
    }
  
}

// .about{
//     &_header{
//     top: 0;
//     height: 7rem;
//     background-color: $secondary;
//     }
//     &_body{
//         background: $primary;
//     }
// }