html {
    font-size: 70%;
    @media all and (max-width:720px) {
        font-size: 60%;
    }
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif, "Segoe UI", Tahoma, Geneva, Verdana;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: linear-gradient(to left, rgb(12, 72, 151) 10%, rgb(16, 216, 216));
    font-size: $font-med;
    font-weight: 300;
    line-height: 1.2;
    overflow: hidden;
    @media  all and (max-width:70rem) {
        overflow: auto;
    }
    color: white;
    margin-right: 2rem;
    margin-left: 0;
}

h1,
h2,
h3 {
    font-weight: 500;
}
a {
    color: white;
    font-weight: 500;
    text-decoration: none;

    &.active {
        background: linear-gradient(to right, rgba(203, 42, 42, 0.941), rgba(33, 16, 191, 0.895));
        background-clip: text;
        color: transparent;
        font-weight: 550;
    }
}

header {
    position: fixed;
    top: 1rem;
    z-index: 2;
    width: 100%;
}


// main {
//     height: 100%;
// }

footer {
    font-size: 0.6rem;
    position: fixed;
    bottom: 0.4rem;
    right: 1rem;
    text-align: right;
    padding: 1rem;
    color: $GrayishBlue;
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}


//visibility
.hide-for-mobile {
    //hide for tablet and mobile
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    //hide for desktop viewport widths
    @include breakpoint-up(medium) {
        display: none;
    }
}
