.home{
    height: 100%;
    padding-top: 35vh;
    align-items: center;
    text-align: center;
    font-size: $font-med;

    &_main{
        height: 100%;
        display: flex;
        flex-direction: column;
        // animation: grow 2.5s ease-in-out;
    }
    


    .wave {
        font-size: 2.5rem;
        animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
        animation-duration: 2.5s;        /* Change to speed up or slow down */
        animation-iteration-count: infinite;  /* Never stop waving :) */
        transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
        display: inline-block;
      }
      
      @keyframes wave-animation {
          0% { transform: rotate( 0.0deg) }
         10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
         20% { transform: rotate(-8.0deg) }
         30% { transform: rotate(14.0deg) }
         40% { transform: rotate(-4.0deg) }
         50% { transform: rotate(10.0deg) }
         60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
        100% { transform: rotate( 0.0deg) }
      }


    
    h2{
        margin-bottom: 0.5rem;

    }

    &__name{
        font-size: 4.8rem;
        padding-bottom: 1rem;
        margin-top: 0.4rem;
        margin-bottom: 0;

        &-last{
            // background:linear-gradient(to right ,rgba(203, 42, 42, 0.941),rgba(33, 16, 191, 0.895));
            background:linear-gradient(to right ,rgba(203, 42, 42, 0.941),$orange);
            background-clip: text;
            color: transparent;
            font-weight: 700;
        }

    
    }

    &__name::after{
        content: "";
        margin-top: 1.48rem;
        background: linear-gradient(to left, rgba(198, 215, 214, 0.178) 40%, rgba(204, 220, 222, 0.951));
        height: 5px;
        display: block;
        animation: grow 4s ease-in-out ;
        animation-fill-mode: forwards;
    }


    @keyframes grow {
        0%{
            width: 0%;
        }
        40%{
            width: 102%;
        }
        100%{
            width: 102%;
        }
    }
}