.menu-btn {
    position: absolute;
    z-index: 1;
    margin-right: 1.3rem;
    right: 1rem;
    top: 1rem;
    height: 20px;
    width: 28px;
    cursor: pointer;
    @include transition-ease;
  
    &__burger {
      position: absolute;
      right: 0;
      top: 0.5rem;
      width: 28px;
      height: 3px;
      background: white;
      @include transition-ease;
  
      &::before {
        content: '';
        position: absolute;
        top: -8px;
        width: 28px;
        height: 3px;
        background: white;
        @include transition-ease;
      }
  
      &::after {
        content: '';
        position: absolute;
        top: 8px;
        width: 20px;
        height: 3px;
        background: white;
        @include transition-ease;
      }
  
      &.open {
        transform: rotate(360deg);
        background: transparent;
  
        &::before {
          transform: rotate(45deg) translate(5px, 8px);
        }
  
        &::after {
          width: 28px;
          transform: rotate(-45deg) translate(3px, -7px);
        }
      }
    }


  }
  
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100vw;
    opacity: 0.98;
    visibility: hidden;

    &.open {
      visibility: visible;
      opacity: 1;
    }
  
    .menu-nav {
      display: flex;
      margin: 0;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      height: 100vh;
      overflow: hidden;
      background:linear-gradient(to left, rgb(9, 2, 22) ,rgb(5, 5, 79));
      list-style-type: none;
      padding-right: 1rem;
      transform: translateY(-100%);
      @include transition-ease;
  
      &.open {
        transform: translateY(0);
      }
  
      &__item {
        transform: translateX(100vw);
        @include transition-ease;
  
        &.open {
         transform: translateX(0); 
         
        }
  
        &.active > a {
          color: $LimeGreen;
        }
      }
  
      &__link {
        display: inline-block;
        font-size: $font-lg;
        text-transform: capitalize;
        padding: 2rem 0;
        font-weight: 300;
        @include transition-ease;
  
        &:hover {
          color: aqua;
        }
      }
    }
}
  
  
 @for $i from 1 through 4 {
    .menu-nav__item:nth-child(#{$i}) {
      transition-delay: ($i * 0.1s) + 0.15s;
    }
}

.desktop_container{
  max-width: 90rem;
  // border: 2px solid red;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content:center;
  align-items: center;
  font-size: $font-lg;
  text-transform: capitalize;

  @include breakpoint-down(medium){
    display: none;
  }

  &__link{
   margin: 1rem 5rem;
   margin-bottom: 4rem;
   font-size: 1.95rem;

   &:hover{
    color: aqua;
    @include transition-ease
   }
  }

}