
#project{
    height: 86vh;
    border-radius: 20px;
    width: 94%;
    margin: 0 2.5rem;
    background: white;
    padding: 1.3rem 0 0 3rem;
    transform: translateY(10%);
    @media all and (max-width: 70rem) {
        transform: translateY(7%);
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 89vh;
    }
}