
#project{
    height: 82vh;
    border-radius: 15px;
    width: 94%;
    margin: 0 2.5rem;
    background: #fff;
    padding: 1.5rem 0 0 3rem;
    transform: translateY(13%);
    @media all and (max-width: 70rem) {
        transform: translateY(7%);
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 89vh;
    }
}