
#project{
    height: 82vh;
    border-radius: 15px;
    width: 94%;
    // margin: 0 2.5rem;
    // background: #fff;
    transform: translateY(13%);
    @media all and (max-width: 70rem) {
        transform: translateY(7%);
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 89vh;
    }
}

.pro_logo{
    background-image: url(../images/chirag-new-logo-figma-finished.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    width: 5rem;
    height: 5rem;
    transform: translate(46%, 17%);

    @media all and (max-width:70rem) {
    transform: translate(40%, 7%);
    height: 3.5rem;
    width: 3.5rem;
    }
}

.project_container{
    display: flex;
    justify-content: center;

}