//font sizes
$font-sm: 0.875rem;//14px
$font-med: 1.125rem;//18px
$font-lg: 1.65rem;
$font-xl: 3.25rem;

//colors
$primary: hsl(38, 16%, 76%);
$secondary: hsl(40, 4%, 14%);
$orange : hsl(17, 83%, 54%);